body {
    font-family: 'Montserrat', sans-serif;
    background-color: #2c3e50;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#quiz-container {
    background-color: #ecf0f1;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.question {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.options {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options li {
    background-color: #34495e;
    color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.options li:hover {
    background-color: #2c3e50;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    color: #fff;
}

#result.correct {
    color: #27ae60;
}

#result.incorrect {
    color: #e74c3c;
}

button {
    background-color: #2c3e50;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #34495e;
}

@media screen and (max-width: 600px) {
    #quiz-container {
        transform: scale(0.9);
    }
}
